# bin and obj directories at any depth
bin/
obj/

# Visual studio files
*.sln.DotSettings.user
*.csproj.user
*.suo
.vs/

# Resharper files
*resharper*
_resharper*/

# nuget
**/packages/*