<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="metricsHostName" value="127.0.0.1"/>
		<add key="metricsPort" value="15000"/>
		<add key="metricsKeyPrefix" value="Prod.Rates"/>
		<add key="metricsKeySuffix" value="Ted"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
</configuration>
